.Button {
	height: fit-content;
	width: fit-content;

	background-color: var(--color-secondary);
	color: var(--color-background);

	padding: 0.5rem;

	display: flex;

	border: none;
	border-radius: 2px;
}

.Button:hover {
	background-color: var(--color-primary);
	cursor: pointer;
}

.Button:active {
	color: var(--color-background);
}

.Button-x {
	height: fit-content;
	width: auto;

	padding: 0;

	background-color: var(--color-secondary);
	color: var(--color-background);

	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	border-radius: 2px;
}

.Button-x:hover {
	background-color: var(--color-primary);
	cursor: pointer;
}

.Button-x:active {
	color: var(--color-background);
}
