.Header {
	z-index: 10;

	padding: 1rem;

	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.Logo {
	color: var(--color-background);
}

.header-nav {
	display: flex;
	flex-direction: row;
	justify-content: flex-end;
	align-items: center;
	flex-grow: 1;

	gap: 1rem;
}
