#Navbar {
}

.link-list {
	padding: 0 1rem;

	display: flex;
	flex-wrap: wrap;

	gap: 1rem;
}

.link-list li {
	z-index: 1;
	position: relative;
}

.link-list li ul {
	position: relative;
	display: none;
}

.link-list li:hover ul::before {
	content: " ";

	z-index: 0;

	background-color: var(--black);
	border-left: 1px solid var(--color-background);
	border-top: 1px solid var(--color-background);

	width: 1rem;
	height: 1rem;

	position: absolute;

	bottom: 91.25%;
	right: 50%;

	transform: translateX(50%) rotateZ(45deg);
}

.link-list li:hover ul {
	z-index: 2;

	background-color: var(--black);
	outline: 1px solid var(--color-background);
	border-radius: 4px;

	padding: 1rem;

	display: block;
	position: absolute;

	gap: 1rem;

	top: 120%;
	right: 60%;

	transform: translateX(50%);
}
