:root {
	--color-primary: #bb84a4;
	--color-secondary: #6e3e70;

	--color-background: #f0ede5;
	--color-background-dark: #fdc19f;

	--color-text: #6e3e70;
}

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
}

.App {
	background-color: var(--color-background);

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

a {
	color: var(--color-text);
	text-decoration: none;
}

a:hover {
	color: var(--color-secondary);
	text-decoration: underline;
}
