:root {
	--black: #050b14;
	--grey: #9497a6;

	--color-background: #fbfbfb;
}

* {
	box-sizing: border-box;
}

body,
html {
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	overflow-y: auto;
}

.App {
	background-color: var(--color-background);

	width: 100vw;
	height: 100vh;

	display: flex;
	flex-direction: column;
}

button {
	height: fit-content;
	width: auto;

	padding: 0;

	display: flex;
	align-items: center;
	justify-content: center;

	border: none;
	border-radius: 2px;
}

.nopad {
	padding: 0;
}
